a {
  text-decoration: none;
}

body {
  background-color: #0F0101;
  color: #f3f3f3;
  width: 100vw;
  overflow-x:hidden;
}

/* .desktop {
  visibility: visible;
  height: 100%;
} */

/* BACKGROUND IMAGE/TITLE */

.hero {
  position: relative;
  width: 100vw;
  height: 95vh;
  overflow: hidden;
}

.hero2 {
  position: relative;
  width: 100vw;
  height: 400px;
  overflow: hidden;
}

.heroGradient {
  position: absolute;
  min-height: 500px;
  width: 100vw;
  margin: 0 auto;
  top: 0;
  left: 0;
  z-index: 100;
  
  background: linear-gradient(transparent 75%, #0F0101 95% );
}


.heroGradient > h1 {
  padding-top: 45vh;
  font-size: 5em;
  font-family: 'Ultra';
  text-align: center;
}

.heroGradient > h2 {
  font-size: 2em;
  letter-spacing: 5px;
  font-family: 'Dual300';
  text-align: center;
  padding-right: 40px;
}

.heroImage {
  min-height: 500px;
  width: 100vw;
  margin: 0 auto;
  top: 0;
  left: 0;
  position: absolute;
}

/* SUMMARY */

.mission {
  margin: 40px 200px 100px 200px;
}

.mission > h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 3em;
  font-family: 'Ultra';
}

.left > p, .right > p {
  font-size: 1.2em;
  line-height: 1.8em;
  letter-spacing: 3px;
  font-family: 'Dual300';
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left {
  grid-column-start: 1;
  margin-right: 30px;
}

.right {
  grid-column-start: 2;
  margin-left: 30px;
}

/* TIMELINE */

.timeline {
  margin-bottom: 80px;
}

.timeline > h2 {
  text-align: center;
  margin-bottom: 100px;
  font-size: 3em;
  font-family: 'Ultra';
}

.timelineGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.dotContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* TIMELINE LEFT */

.timelineGridLeft {
  position: relative;
  grid-column-start: 1;
  height: 1100px;
}

.timelineDateLeft {
  border-bottom: 3px solid #E7671E;
  text-align: left;
  color: grey;
  font-size: 1.3em;
  font-family: 'Dual300';
  letter-spacing: 3px;
  padding-bottom: 5px;
}

.timelineTextLeft {
  position: absolute;
  font-family: 'Dual300';
  font-size: 1.1em;
  padding-top: 5px;
  letter-spacing: 3px;
  line-height: 1.3em;
}

.timelineDotLeft {
  position: absolute;
  right: -12px;
  top: 18px;
  width: 15px;
  height: 15px;
  background-color: #0f0101;
  border: 2px solid #E7671E;
  z-index: 100;
  border-radius: 50%;
}

/*  TIMELINE RIGHT */

.timelineGridRight {
  position: relative;
  grid-column-start: 2;
  height: 1450px;
  top: 20px;
  width: 100%;
  z-index: 50;
  border-left: 3px solid #E7671E;
  margin-left: 1px;
}

.timelineDotRight {
  position: absolute;
  left: -12px;
  top: 18px;
  width: 15px;
  height: 15px;
  background-color: #0f0101;
  border: 2px solid #E7671E;
  z-index: 100;
  border-radius: 50%;
  margin-left: 1px;
}

.timelineDateRight {
  border-bottom: 3px solid #E7671E;
  text-align: right;
  color: grey;
  font-size: 1.3em;
  font-family: 'Dual300';
  letter-spacing: 3px;
  padding-bottom: 5px;
}

.timelineTextRight {
position: absolute;
left: 40px;
text-align: right;
font-family: 'Dual300';
font-size: 1.1em;
padding-top: 5px;
letter-spacing: 3px;
line-height: 1.3em;
}

.timeline > p {
  text-align: center;
  padding-top: 150px;
  font-family: 'Dual300';
  font-size: 1.3em;
  letter-spacing: 3px;
}

p > a {
  text-decoration: none;
  color: #E7671E;
  opacity: 1;
  transition: opacity 0.5s;
}

p > a:hover {
  opacity: 0.5;
  transition: opacity 0.5s;
}

/* TIMELINE ITEMS */

.timelineItem1 {  position: absolute;  top: 0px; right: 0px; width: 400px;}
.timelineItem2 {  position: absolute;  top: 100px; left: 0px; width: 400px}
.timelineItem3 {  position: absolute;  top: 250px; right: 0px; width: 400px}
.timelineItem4 {  position: absolute;  top: 400px; left: 0px; width: 400px}
.timelineItem5 {  position: absolute;  top: 550px; right: 0px; width: 400px}
.timelineItem6 {  position: absolute;  top: 700px; left: 0px; width: 400px}
.timelineItem7 {  position: absolute;  top: 850px; right: 0px; width: 400px}
.timelineItem8 {  position: absolute;  top: 1000px; left: 0px; width: 400px}
.timelineItem9 {  position: absolute;  top: 1150px; right: 0px; width: 400px}
.timelineItem10 { position: absolute;  top: 1300px; left: 0px; width: 400px}
.timelineItem11 { position: absolute; top: 1450px; right: 0px; width: 400px}

/* PEOPLE */

.team {
  margin: 75px 0;
}

.team > h2 {
  text-align: center;
  font-size: 3em;
  font-family: 'Ultra';
  padding-bottom: 75px;
}

.team > p {
  font-size: 1.2em;
  line-height: 1.8em;
  letter-spacing: 3px;
  font-family: 'Dual300';
  margin: 0 320px;
  text-align: center;
}

.logos {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.logos > img {
  height: 150px;
}
/* TWITTER */

/* FOOTER */

footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footerGradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: linear-gradient(#0F0101 15%, transparent 45% );
}

.footerContent {
  margin: 120px 0 0 50px;
  display: flex;
  justify-content: flex-start;

}

.footerContent > li {
  font-size: 1em;
  line-height: 1.8em;
  letter-spacing: 3px;
  font-family: 'Dual300';
  list-style-type: none;
}

li > a {
  color: #f3f3f3;
  font-size: 0.8em;
  transition: color 0.5s;
}

li > a:hover {
  color: #E7671E;
  transition: color 0.5s;
}

.creditLink {
  color: #f3f3f3;
  transition: 0.5s;
  border-bottom: 1px solid #f3f3f3;
}

.creditLink:hover {
  color: #E7671E;
  transition: 0.5s;
  border-bottom: 1px solid #E7671E;
  opacity: 1;
}

.nasaSocials, .jplSocials {
  font-size: 1.2em;
  line-height: 1.5em;
  letter-spacing: 3px;
  font-family: 'Dual300';
  list-style-type: none;
  margin-right: 40px;
}


.disclaimer {
  font-size: 1em;
  letter-spacing: 3px;
  font-family: 'Dual300';
  margin-top: 30px;
  margin-left: 50px;
  text-align: left;
  line-height: 20px;
}

.credit {
  font-size: 1em;
  letter-spacing: 3px;
  font-family: 'Dual300';
  margin-left: 50px;
  margin-top: 20px;
  text-align: left;
}

/* .mobile {
  visibility: hidden;
} */




/* BREAKPOINTS */


/* @media only screen and (max-width: 1100px) {

  .mission {
    margin: 20px 100px 100px 100px;
  }

  .team > p {
    margin: 20px 200px;
  }

} */


@media only screen and (max-width: 888px) {

/* .desktop {
  visibility: hidden;
  overflow: hidden;
  height: 0px;
  display: none;
} */

/* .mobile {
  visibility: visible;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
} */

.hero {
  height: 45vh;
}
.heroGradient > h1 {
  font-size: 3em;
  padding-top: 20vh;
}

.heroGradient > h2 {
  font-size: 1.2em;
  letter-spacing: 3px;
  padding-right: 20px;
}

.mission {
  margin: 20px 80px 100px 80px;
}

.mission > h1 {
  margin-top: 20px;
  font-size: 2em;
}

.grid {
  grid-template-columns: 1fr;
}

.left > p, .right > p {
  font-size: 0.9em;
}

.left {
  grid-column-start: 1;
  grid-row-start: ;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 30px;
}

.right {
  grid-column-start: 1;
  grid-row-start: 1;
  margin-left: 0;
}

.timeline {
  padding-bottom: 40px;
}

.timeline > h2 {
  font-size: 1.5em;
  margin-bottom: 50px;
}

.timelineGrid {
  grid-template-columns: 1fr;
}

.timelineGridRight {
  grid-column-start: 1;
  position: relative;
}

.timelineDateRight {
  border-bottom: 3px solid #E7671E;
  text-align: left;
  color: grey;
  font-size: 1.3em;
  font-family: 'Dual300';
  letter-spacing: 3px;
  padding-bottom: 5px;
}

.timelineTextRight {
  position: absolute;
  font-family: 'Dual300';
  font-size: 1.1em;
  padding-top: 5px;
  letter-spacing: 3px;
  line-height: 1.3em;
}

.timelineDotRight {
  position: absolute;
  right: -12px;
  top: 18px;
  width: 15px;
  height: 15px;
  background-color: #0f0101;
  border: 2px solid #E7671E;
  z-index: 100;
  border-radius: 50%;
}

.timelineItem1 {  position: absolute;  top: 0px; left: 0px; width: 400px;}
.timelineItem2 {  position: absolute;  top: 100px; left: 0px; width: 400px}
.timelineItem3 {  position: absolute;  top: 250px; right: 0px; width: 400px}
.timelineItem4 {  position: absolute;  top: 400px; left: 0px; width: 400px}
.timelineItem5 {  position: absolute;  top: 550px; right: 0px; width: 400px}
.timelineItem6 {  position: absolute;  top: 700px; left: 0px; width: 400px}
.timelineItem7 {  position: absolute;  top: 850px; right: 0px; width: 400px}
.timelineItem8 {  position: absolute;  top: 1000px; left: 0px; width: 400px}
.timelineItem9 {  position: absolute;  top: 1150px; right: 0px; width: 400px}
.timelineItem10 { position: absolute;  top: 1300px; left: 0px; width: 400px}
.timelineItem11 { position: absolute; top: 1450px; right: 0px; width: 400px}









/* end */




}
