body {
  background-color: #0F0101;
  color: white;
}

.hero {
  position: relative;
  width: 100vw;
  height: 600px;
  overflow: hidden;
}

.heroGradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background:linear-gradient(transparent 75%, #0F0101 95% );
}

.heroImage {
  min-height: 500px;
  width: 100vw;
  margin: 0 auto;
  top: 0;
  left: 0;
  position: absolute;
}

.mission {
  margin: 40px 200px;
}

.mission > h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 40px;
}

.left > p, .right > p {
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 3px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left {
  grid-column-start: 1;
  margin-right: 20px;
}

.right {
  grid-column-start: 2;
  margin-left: 20px;
}

.timeline {

}

.timelineGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.timelineGridLeft {
  position: relative;
  grid-column-start: 1;
  height: 200px;
  width: 100%;
}

.timelineGridRight {
  position: relative;

  grid-column-start: 2;
  height: 200px;
  width: 100%;
  border-left: 5px solid red;
}

.timelineDate {
  border-bottom: 2px solid red;
}

.timelineContentLeft {
  position: absolute;
  right: 50px;
  width: 100px
}

.team {

}

.mission {

}

.resources {

}

footer {

}
